> **Tip**: Welcome to the Data Analysis Blueprint! You will find tips in quoted sections like this to help organize your approach to your investigation. 

# Project: Investigate a Dataset under consideration (Replace this with something more specific including )

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. If you're not sure what questions to ask, then make sure you familiarize yourself with the dataset, its variables and the dataset context for ideas of what to explore.

Import general packages and graphing capabilities which will be used in all datasets.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

## Gather

Copy paste following cell to create multiple dataframes as needed.

checking duplicate value/s

In [3]:
#df_name = pd.read_csv(......., sep='...')

In [2]:
df_2015=pd.read_csv('data/md/bwf_md_2015w1.csv')

###### Load your data and print out a few lines. Perform operations to inspect data types and look for instances of missing or possibly errant data.

In [3]:
df_2015.head()

,Unnamed: 0,RANK,COUNTRY,PLAYER,CHANGE +/-,WIN - LOSE,PRIZE MONEY,POINTS / TOURNAMENTS
0,0,1,KOR KOR,LEE Yong Dae YOO Yeon Seong,0,63 - 10,"$989,580.61","90,188 / 12"
1,1,2,DEN DEN,Mathias BOE Carsten MOGENSEN,0,300 - 102,"$704,307.12","74,779 / 14"
2,2,3,JPN JPN,Hiroyuki ENDO Kenichi HAYAKAWA,0,148 - 78,"$244,282.85","69,982 / 15"
3,3,4,INA INA,Hendra SETIAWAN Mohammad AHSAN,0,78 - 20,"$583,894.38","68,570 / 10"
4,4,5,TPE TPE,LEE Sheng Mu TSAI Chia Hsin,0,65 - 34,"$223,901.87","66,908 / 17"

In [ ]:
df_name.tail()

In [3]:
df_name.sample(5)

NameError: name 'df' is not defined

## Assess

###### perform rudimentary data assessment

In [ ]:
df_name.info()

In [ ]:
df_name.describe()

In [ ]:
df_name.corr()

###### List of issues you identiefied using rudimentry assessment

- Issue 1
- Issue 2
- Issue 3
- Issue 4

Columns identified in earlier step, run value_counts on them so as to get sense of outliers

In [ ]:
df_name.column_name.value_counts()

Plot histograms of the dataframes so as to identify general distribution of features

In [ ]:
df_name.hist()

Plot scatterplot of the dataframes so as to identify correlations amongst several variables. Through this we will start to get sense of which features could be of use to us for further analysis.

In [ ]:
pd.plotting.scatter_matrix(df_name)

###### List of issues you identiefied using visual assessment

- Issue 1
- Issue 2
- Issue 3
- Issue 4

nan value detection

Following code fragments can be run to identify presence of NaN Null in dataframe

In [ ]:
df_name.isnull()

Following command will tell us columns that have atleast 1 NaN value in them

In [ ]:
df_name.isnull().any(axis=0)

Following command will tell us rows that have atleast 1 NaN value in them

In [ ]:
df_name.isnull().any(axis=1)

checking duplicate value/s

In [ ]:
sum(df_name.duplicated())

checking and making note of incorrect datatype/s. Prime examples to look for are date column in string datatype, unit mentioned in numeric value column.

In [ ]:
df_name.info()

###### List of issues you identiefied using programmatic assessment

- Issue 1
- Issue 2
- Issue 3
- Issue 4

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

#### Research Question 1 (Who it the most busy female singles player - who has played most tournaments in each year?)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

#### Research Question 2  List of female singles players who made most prize money in each year

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

#### Research Question 3  List of female singles players who have most change in their ranking for each year. output should contain respective change in ranking as well.

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

#### Research Question 4 -  List of female singles players who have most change in their ranking for each year. output should contain respective change in ranking as well.

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])